* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
    font-family: var(--fuente-principal);
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: var(--color-fondo);
    color: var(--color-texto);
}


h1 {
    font-size: 34px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

p {
    font-size: 16px;
}

header {
    position: fixed;
    width: 100%;
}

header .logo {
    margin: 0;
    padding: 20px 30px;
    font-weight: bold;
    color: var(--color-texto);
    font-size: 25px;
}

header .logo span {
    margin: 0;
    padding-right: 30px;
    padding-left: 0px;
    font-weight: bold;
    color: var(--color-principal);
    font-size: 25px;
}

header .contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: linear-gradient(to bottom, #14181c 20%, transparent 100%);
}

header nav {
    margin: 0;
    padding: 20px 30px;
    display: flex;
    text-align: center;
    padding-bottom: 25px;
}

header a {
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: var(--color-texto);
}

header a:hover {
    color: var(--color-principal);
}

.contenedor {
    max-width: 1400px;
    margin: auto;
}

#portada .contenedor {
    display: flex;
    width: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    height: 100vh;
    background-image:
        linear-gradient(to top, #14181c 20%, transparent 100%),
        url("../images/index/portada_image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    gap: 20px;
}

#portada button {
    margin-top: 55px;
    font-size: 20px;
    font-weight: bold;
    padding: 8px 25px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    color: var(--color-texto);
    background-color: var(--color-secundario);
    cursor: pointer;
}

#portada button:hover {
    cursor: pointer;
    background-color: var(--color-principal);
}

.carrousel #carrousel-contenedor {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.carrousel #carrousel-contenedor .imagenes {
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
}

.carrousel #carrousel-contenedor .botones {
    display: flex;
    margin: 0;
}

.carrousel #carrousel-contenedor .botones button {
    background: transparent;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

#carrousel-contenedor .botones img {
    width: 40px;
    height: 40px;
}

#info .contenedor {
    padding: 150px 12px;
}

#info h3 {
    align-items: center;
    justify-content: center;
    text-align: start;
    margin: 20px 30px;
}

#info h3 span {
    margin: 0;
    padding-right: 0px;
    padding-left: 0px;
    font-weight: bold;
    color: var(--color-principal);
    font-size: 25px;
}

#info .cuadro {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#info .carta p {
    font-size: 14px;
    color: var(--color-texto);
}

.cuadro .carta-par1,
.carta-par2,
.carta-par3 {
    margin: 0;
    padding: 20px 30px;
    width: 30%;
    min-height: 100px;
    display: flex;
    justify-content: center;
    text-align: left;
    border-radius: 5px;
    background-color: var(--color-oscuro2);
}

.carta-par1:hover {
    background-color: var(--color-secundario);
}

.carta-par2:hover {
    background-color: var(--color-par2);
}

.carta-par3:hover {
    background-color: var(--color-par3);
}

#reviews .contenedor {
    padding: 150px 12px;
}

#reviews .contenedor h3 {
    margin-bottom: 20px;
}

.reviews-populares {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.reviews-populares .carta-review {
    margin: 0;
    padding: 10px 20px;
    display: flex;
    text-align: left;
    border-radius: 5px;
    background-color: var(--color-oscuro2);
}

.carta-review .icono-pelicula {
    display: flex;
    align-items: flex-start;
    padding-right: 10px;
}

.carta-review .texto-review {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10px;
    gap: 10px;
}

.texto-review p {
    display: flex;
    align-items: flex-end;
    padding-top: 10px;
}

footer {
    background-color: var(--color-oscuro);
}

footer .contenedor {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 20px 30px;
}

footer p {
    color: var(--color-principal);
}

footer .redes a {
    margin-left: 10px;
    display: inline-block;
}

@media (max-width: 720px) {

    header .contenedor {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    header a {
        padding: 2px 6px;
    }

    #portada .contenedor {
        text-align: center;
    }

    #info .cuadro {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .carrousel #carrousel-contenedor {
        gap: 5px;
    }

    #carrousel-contenedor .botones img {
        width: 20px;
        height: 20px;
    }

    .carrousel #carrousel-contenedor .imagenes {
        gap: 5px;
    }

    .carrousel #carrousel-contenedor .imagenes img {
        height: 150px;
        width: 100px;
    }

    .cuadro .carta-par1,
    .carta-par2,
    .carta-par3 {
        margin: 0;
        padding: 20px 30px;
        width: auto;
        display: flex;
        text-align: left;
        border-radius: 5px;
        background-color: var(--color-oscuro2);

    }

    .carta-par1:hover {
        background-color: var(--color-secundario);
    }

    .carta-par2:hover {
        background-color: var(--color-par2);
    }

    .carta-par3:hover {
        background-color: var(--color-par3);
    }

    .carta-review .icono-pelicula img {
        height: 150px;
        width: 100px;
    }

    footer .contenedor {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px 30px;
        gap: 15px;
    }

}

:root {
    /* Colores */
    --color-principal: #EC136D;
    --color-secundario: #6D0932;
    --color-oscuro: #3F1620;
    --color-oscuro2: rgba(255, 255, 255, 0.05);
    --color-par2: #EC2513;
    --color-par3: #EC13DA;
    --color-fondo: #14181c;
    --color-texto: #e5e9f2;

    /* Tipografías */
    --fuente-principal: 'Inter', sans-serif;
    --fuente-secundaria: 'Roboto', sans-serif;
}